<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <Urls>
    <add 
         name ="BaseAddress"
         Address ="http://earthquake.usgs.gov/fdsnws/event/1/"
     />
    <add
         name ="Method"
         Method="query"
     />
    <add
         name="Format"
         Format="geojson"
     />
  </Urls>
</configuration>